<div class="spot-popover">
	<div class="triangle"></div>
	<div class="content">
		<div class="row wrapper top">
			<div class="pull-left">
				<div class="image">
					<img ng-src="{{data.profileImage}}">
				</div>
			</div>
			<div class="pull-right">
				<div class="name"> {{data.name}} </div>
				<div class="role"> {{data.role}} </div>
			</div>
		</div>
		<div class="row wrapper">
			<div class="row-header"> Team </div>
			<div class="row-value"> {{data.team}} </div>
		</div>
		<div class="row wrapper bottom">
			<div class="row-header"> Current Project </div>
			<div class="row-value"> {{data.project}} </div>
		</div>
	</div>
</div>